/* Contenedor principal del login */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;  
  align-items: center;     
  position: relative; 
}

/* Fondo dividido */
.background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Parte superior (verde) */
.top-side {
  background-color: rgba(32, 59, 65, 1);
  width: 100%;
  height: 50%; /* Mitad superior de la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea al contenido en la parte superior */
  align-items: center;
  color: rgba(229, 229, 229, 1);
  position: relative;
  padding-top: 80px; /* Espacio en la parte superior */
}

/* Contenedor del texto y el logo */
.top-text-container {
  display: flex;
  align-items: center;
  color: white;
}

/* Texto */
.top-text {
  font-size: 24px;
  font-weight: 200;
  margin-right: 15px;
}

/* Línea vertical */
.vertical-line {
  width: 2px;
  height: 60px; 
  background-color: white;
  margin: 0 15px;
}

.imgLogo {
  width: 150px;
}

/* Contenedor del formulario, centrado */
.middle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

/* Estilos del formulario */
.form-container {
  width: 400px;
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative; 
}

h2 {
  margin-top: 0;
  text-align: center;
  font-size: 27px;
  color: rgba(63, 63, 63, 1);
}

/* Estilos generales para los campos de entrada */
.input-correo input,
.password-container input {
  padding: 10px;
  width: 90%; /* Ajusta el ancho para el 90% del contenedor */
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Incluye padding y border en el tamaño total */
  margin-bottom: 15px; /* Añade margen en la parte inferior */
}

/* Ajustes específicos para el contenedor de contraseña */
.password-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 90%; /* Ajusta el ancho del contenedor de la contraseña */
}

/* Estilo para el campo de entrada dentro del contenedor de contraseña */
.password-container input {
  padding-right: 40px; /* Deja espacio para el botón del ojo dentro del campo */
  width: 100%; /* Ocupa todo el ancho del contenedor .password-container */
  box-sizing: border-box; /* Incluye padding y border en el tamaño total */
  border: 2px solid #ccc;
  border-radius: 4px;
}

/* Estilo para el botón del ojo */
.ojo-password {
  position: absolute;
  right: 10px; /* Espacio desde el borde derecho del campo */
  top: 50%; /* Centrado verticalmente en el campo de entrada */
  transform: translateY(-50%); /* Alineación vertical exacta */
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1; /* Asegura que el botón esté encima del campo de entrada */
}

.ojo-password img {
  width: 20px; 
  height: auto;
}

.submit {
  width: 83%; /* Asegura que el botón ocupe el 83% del contenedor */
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Contenedor de la imagen del documento */
.image-container {
  position: absolute; 
  bottom: -10px; 
  right: -60px; 
}

.image-container img {
  width: 150px; 
}

/* Margen verde en la parte inferior */
.login-container::after {
  content: '';
  display: block;
  height: 20px;
  background-color: rgba(134, 193, 39, 1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Media Queries para diferentes tamaños de pantalla */
@media (max-width: 768px) {
  .form-container {
    width: 90%;
    padding: 20px;
  }

  h2 {
    font-size: 22px;
  }

  .input-correo input,
  .password-container input {
    width: 100%;
  }

  .password-container {
    width: 100%;
  }

  .submit {
    width: 100%;
  }

  .image-container {
    right: -30px;
  }
}

@media (max-width: 480px) {
  .top-text {
    font-size: 20px;
  }

  .input-correo input,
  .password-container input {
    width: 100%;
    font-size: 14px;
  }

  .submit {
    padding: 8px;
    font-size: 14px;
  }

  .image-container {
    display: none;
  }
}

.error-message {
  color: #d32f2f; 
  font-size: 15px; 
  margin: 0; 
  padding: 15px;
  background-color: #fdecea; 
  border: 1px solid #d32f2f; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1000;
  text-align: center; 
  max-width: 90%; 
  word-wrap: break-word; 
}

/*CSS para Home */ /*CSS para Home */ /*CSS para Home */ /*CSS para Home */

/*CSS para Home */ /*CSS para Home */ /*CSS para Home */ /*CSS para Home */

.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 0; /* Asegura que el contenedor ocupe al menos la altura de la ventana */
}

.content {
  flex: 1;
  overflow: auto; /* Permite el scroll si el contenido es demasiado grande */
}

/* Estilo para la margen verde al final de la pantalla */
.footer-margin {
  background-color: rgba(134, 193, 39, 1);
  height: 20px;
  width: 100%;
  position: relative;
}

/* Otros estilos existentes */
.col-3 .img-fluid {
  height: 80px; /* Altura del logo */
}

.text-center h2 {
  font-size: 30px; 
  color: #333; 
}

.carousel { 
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para los módulos principales */
.modules-container {
  display: flex;
  flex-direction: row; /* Alinea los módulos horizontalmente */
  gap: 20px; /* Espacio entre los módulos */
  margin-top: 20px; 
  padding: 0 20px; /* Espacio en los laterales */
  overflow-x: auto; /* Permite el desplazamiento horizontal si el contenido es mayor que el ancho del contenedor */
}

.module {
  background-color: #f8f9fa; /* Fondo del módulo */
  border: 1px solid #dee2e6; /* Borde del módulo */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Centrar el texto */
  flex: 1; /* Permite que los módulos se ajusten al tamaño del contenedor */
  min-width: 300px; /* Establece un ancho mínimo para los módulos */
  height: 400px; /* Establece una altura fija para los módulos */
}

.module-image {
  width: 100%; /* Ajusta la imagen al ancho del módulo */
  height: 80px; /* Establece la altura fija de la imagen */
  object-fit: contain; /* Mantiene la proporción de la imagen */
  margin-bottom: 15px; /* Espacio debajo de la imagen */
}

.module-title {
  font-size: 1.25rem; /* Tamaño del título */
  margin-bottom: 10px; /* Espacio debajo del título */
}

.module-text {
  font-size: 1rem; /* Tamaño del texto */
  margin-bottom: 15px; /* Espacio debajo del texto */
}

.module-btn {
  background-color: rgba(35, 64, 20, 1); /* Color del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Elimina el borde del botón */
}

.carousel {
  width: 100%; /* Ajusta el ancho del carrusel según lo que necesites */
  height: 250px; /* Altura fija para el carrusel, ajusta según tus necesidades */
  overflow: hidden; /* Oculta el contenido que se desborda */
  position: relative; /* Posiciona el carrusel en relación con su contenedor */
  box-shadow: 0 4px 8px rgba(52, 247, 3, 0.2); /* Sombra para el carrusel */
}


/* FRANJA */

/* Franja.css */

/* Estilo para el contenedor principal del componente Franja */
.franja-container {
  display: flex;
  height: 100hv; /* Mantiene el componente Franja en su altura natural */
}

/* Barra superior de Franja */
.franja-header {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 110px;
  box-sizing: border-box;
}

/* Contenedor para el contenido de la cabecera */
.franja-header-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

/* Estilo para el logo en la cabecera */
.franja-logo img {
  height: 80px; /* Altura del logo */
}

/* Estilo para el título en la cabecera */
.franja-title {
  text-align: center;
  flex: 1;
}

.franja-title h2 {
  font-size: 30px;
  color: #333;
  margin: 0;
}

/* Contenedor para el menú y la fecha/hora */
.franja-menu-date {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Estilo para el icono del menú */
.menu-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 40px;
  margin-right: 30px;
}

/* Menú desplegable */
.menu-dropdown {
  position: absolute;
  top: 110px; 
  right: 0;
  width: 270px;
  height: calc(100vh - 110px);
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

/* Estilo para el menú cuando está abierto */
.menu-open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

/* Línea vertical en el menú desplegable */
.menu-line {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: rgba(20, 64, 49, 1);
}

/* Estilo para los ítems del menú */
.nav-item {
  margin: 1px 0;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid #dee2e6;
  padding: 10px;
  box-sizing: border-box;
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.nav-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-title {
  font-size: 14px;
  font-weight: bold;
}

.nav-description {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
}

/* Contenedor para la fecha y la hora */
.date-time-container {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 15px;
  font-weight: bold;
}

.time {
  font-size: 13px;
  color: gray;
}

/* CSS para Casos Activos */
/* CSS para Casos Activos */
/* CSS para Casos Activos */

.container-activos {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos toda la altura de la ventana */
}

.content {
  flex: 1; /* Hace que el contenido ocupe todo el espacio disponible menos el espacio del margen */
}

.activos-margin {
  background-color: rgba(134, 193, 39, 1);
  height: 20px; /* Ajusta la altura según sea necesario */
  width: 100%;
}

.casos-activos-container {
  padding: 20px;
  border-radius: 8px;
  margin-top: 30px; 
  position: relative; 
}

.casos-activos-container::before,
.casos-activos-container::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px; /* Altura de la línea divisoria */
  background-color: #ccc; /* Color de la línea divisoria */
}

.casos-activos-container::before {
  top: 0; /* Línea divisoria en la parte superior */
}

.casos-activos-container::after {
  bottom: 0; /* Línea divisoria en la parte inferior */
}

.casos-activos-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.casos-activos-container p {
  font-size: 16px;
  color: #333;
}

.input-container {
  display: flex;
  justify-content: center; /* Centra los inputs horizontalmente */
  gap: 20px; /* Espacio entre los inputs */
  margin-top: 20px;
}

.input-wrapper {
  position: relative;
  width: 400px; /* Ancho fijo para los inputs */
  height: 56px; /* Altura fija para los inputs */
}

.input-wrapper input {
  width: 100%; /* Hace que el input ocupe todo el ancho del wrapper */
  height: 100%; /* Hace que el input ocupe toda la altura del wrapper */
  padding: 10px;
  padding-left: 40px; /* Espacio para el ícono de la lupa */
  padding-right: 40px; /* Espacio para el ícono del menú */
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f0f0f0; /* Gris claro */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

.search-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.menu-icon-input {
  position: absolute;
  right: 10px; /* Ajusta la posición del ícono del menú dentro del input */
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.dropdown-menu button {
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}

.estado-options {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.estado-options label {
  padding: 10px;
  cursor: pointer;
}

.estado-options input {
  margin-right: 8px;
}


/* Estilos para la tabla */
.tabla-container {
  margin-top: 40px; /* Espacio entre los inputs y la tabla */
  display: flex;
  justify-content: center; /* Centra la tabla horizontalmente */
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 80%; /* Ajusta este valor según el tamaño deseado */
  max-width: 1200px; /* Ancho máximo para la tabla */
  background-color: white;
  border: 1px solid #ccc;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.VerDetalle {
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}


/*  CSS PARA DETALLE CASOS */
/*  CSS PARA DETALLE CASOS */
/*  CSS PARA DETALLE CASOS */

.container-casos-detalle {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Contenido de la ventana */
.content-detalle {
  flex: 1;
  margin-left: 2%; 
  margin-right: 2%;
}

.casos-detalle-container {
  padding: 20px;
  border-radius: 8px;
  margin-top: 30px; 
  position: relative; 
}

.casos-detalle-container::before,
.casos-detalle-container::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px; /* Altura de la línea divisoria */
  background-color: gray;
}

.casos-detalle-container::before {
  top: 0; /* Línea divisoria en la parte superior */
}

.casos-detalle-container::after {
  bottom: 0; /* Línea divisoria en la parte inferior */
}

.casos-detalle-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.casos-detalle-container p {
  font-size: 16px;
  color: #333;
}

.detalle-caso-container {
  display: flex; /* Mantener en flex para que tabla y botones estén en la misma fila */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: flex-start; /* Alinea la parte superior de los elementos */
  margin-top: 20px; /* Margen superior */
}

.detalle-caso-tabla {
    width: 50%; /* Usar el 100% del contenedor */
    border-collapse: collapse; /* Eliminar espacios entre celdas */
    margin-top: 10px; /* Espacio superior */
}

.detalle-caso-tabla th,
.detalle-caso-tabla td {
    border: 1px solid #ccc; /* Bordes de la tabla */
    padding: 12px; /* Espaciado interno */
    text-align: left; /* Alinear texto a la izquierda */
}

.detalle-caso-tabla th {
    background-color: rgb(47, 59, 55); /* Color de fondo para el encabezado */
    color: white; /* Color de texto para el encabezado */
    font-weight: bold; /* Negrita para el encabezado */
}

.detalle-caso-tabla tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo alternado para las filas */
}

.detalle-caso-tabla tr:hover {
    background-color: rgba(134, 193, 39, 0.3); /* Efecto hover para las filas */
    transition: background-color 0.3s; /* Suaviza la transición */
}

.detalle-caso-tabla td {
    font-size: 14px; /* Ajusta el tamaño de la fuente */
    color: #333; /* Color de texto */
}


.detalle-caso-botones {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Asegura que se alineen al inicio */
}

.boton-con-upload {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Espacio entre botones */
}

.boton-principal {
  width: 239px;
  height: 24px;
  background-color: rgba(20, 64, 49, 1);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 5px; /* Espacio entre el botón principal y el de upload */
}

.boton-principal:hover {
  background-color: rgba(15, 48, 37, 1);
}

.boton-upload {
  width: 38px;
  height: 34px;
  background-color: rgba(20, 64, 49, 1); /* Color de fondo */
  border: none; 
  cursor: pointer;
  display: flex; /* Para centrar la imagen */
  justify-content: center;
  align-items: center;
}

.boton-upload img {
  width: 20px; /* Ajusta según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
}

.detalle-margin {
  background-color: rgba(134, 193, 39, 1);
  height: 20px; /* Ajusta la altura según sea necesario */
  width: 100%;
}

/* Estilos para el historial del caso */
.historial-caso-container {
  margin-top: 20px; /* Espacio superior */
}

.input-boton-container {
  display: flex;
  justify-content: space-between; /* Espacio entre el input y el botón */
  align-items: center;
  margin-bottom: 10px; /* Espacio inferior */
}

.buscar-container {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Hace que el contenedor ocupe el espacio disponible */
}

.buscar-container input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1; /* Hace que el input ocupe el espacio disponible */
  margin-right: 5px; /* Espacio entre el input y el botón */
}

.buscar-boton {
  background: none; /* Sin fondo */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor en forma de puntero */
  padding: 0; /* Sin padding */
}

.buscar-boton img {
  width: 20px; /* Ajusta el tamaño de la imagen */
  height: 20px; /* Ajusta el tamaño de la imagen */
}

.historial-caso-tabla {
  width: 100%;
  margin: auto;
  border-collapse: collapse; /* Para quitar el espacio entre celdas */
}

.historial-caso-tabla th,
.historial-caso-tabla td {
  border: 1px solid #ccc; /* Bordes para la tabla */
  padding: 8px;
  text-align: center;
}

.historial-caso-tabla th {
  background-color: rgba(20, 64, 49, 1); /* Color de fondo para el encabezado */
  color: white; /* Color de texto para el encabezado */
}

.historial-caso-container h4 {
  margin-right: 50%; /* Ajusta el valor según sea necesario */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 300px; /* Ajusta el ancho según sea necesario */
}

.modal-content h4 {
  margin-bottom: 15px;
}

.modal-content input {
  width: 100%;
  height: 200px;
  padding: 8px;
  margin-bottom: 10px;
}

.modal-content button {
  margin-right: 10px;
}


.close-button {
  background: none;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* CSS PARA DOCUMENTOS EXISTENTES */

.DocumentosExistentes {
  display: flex; /* Utiliza flexbox para alinear los módulos */
  flex-direction: row; /* Alinea los módulos en fila */
  gap: 10px; /* Espacio entre los módulos */
  justify-content: center; /* Centra los módulos horizontalmente */
}

.documento {
  border: 1px solid #ccc; /* Opcional: borde para cada módulo */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Esquinas redondeadas */
  width: 300px; /* Ancho máximo de 300px */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

.document-table {
  width: 100%; /* Hace que la tabla ocupe el 100% del ancho del contenedor */
  border-collapse: collapse; /* Combina los bordes */
}

.document-table td {
  padding: 5px; /* Espaciado interno de las celdas */
  font-size: 0.9em; /* Tamaño de fuente más pequeño */
}

.small-table {
  font-size: 0.8em; /* Tamaño de fuente más pequeño para la tabla */
}

.button-container {
  display: flex; /* Usa flexbox para alinear los botones */
  justify-content: space-between; /* Espacio entre los botones */
  margin-top: 10px; /* Espacio por encima de los botones */
}

.btn-secondary {
  background-color: rgba(20, 64, 49, 1); /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 5px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  display: flex; /* Para alinear el icono y el texto, si es necesario */
  align-items: center; /* Centra el contenido verticalmente */
}

.btn-secondary img {
  width: 20px; /* Ajusta el tamaño del ícono */
  height: 20px; /* Ajusta el tamaño del ícono */
  margin-right: 5px; /* Espacio entre el icono y el texto (si lo agregas) */
}

.white-image {
  filter: brightness(0) invert(1); /* Cambia el color a blanco */
}


.p {
  text-align: center;
}
.module-title {
  text-align: center;
}
.button-subir {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
}
.numero-caso-input {
  text-align: center;
  margin-bottom: 20px;
}
label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
input {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
input:focus {
  border-color: #007bff;
}
button[disabled] {
  background-color: #ccc; /* Cambia el color del botón deshabilitado */
  cursor: not-allowed;
}

/*crear caso*/
.contenedor-crearCaso {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-crearCaso {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.input-crearCaso {
  width: 300px !important; /* Ancho deseado */
  height: 40px; /* Alto */
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 auto; /* Centrar el input */
  text-align: center; /* Centra el texto dentro del input */
}

.btn-crearCaso {
  padding: 10px 15px;
  width: 100%;
  background-color: rgba(20, 64, 49, 1);
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px; /* Margen superior para el botón */
  color: white; /* Cambiar color de texto a blanco */
}

.btn-enviar:hover {
  background-color: #0056b3;
}
